<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tb.rita">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home(Main) Activity -->
        <activity
            android:name=".delivery.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Help Activity -->
        <activity
            android:name=".delivery.HelpActivity"
            android:label="Help"
            android:parentActivityName=".delivery.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.MainActivity" />
        </activity>

        <!-- Command List Activity -->
        <activity
            android:name=".delivery.CommandsListActivity"
            android:label="Command List"
            android:parentActivityName=".delivery.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.MainActivity" />
        </activity>

        <!-- Commands Description Activity -->

    </application>

</manifest>