<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tb.rita">
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home(Main) Activity -->
        <activity
            android:name=".delivery.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".delivery.ListBluetoothDevices"
            android:label="Dispositivos pareados"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <!-- Help Activity -->
        <activity
            android:name=".delivery.HelpActivity"
            android:label="Ajuda"
            android:parentActivityName=".delivery.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.MainActivity" />
        </activity>

        <!-- Command List Activity -->
        <activity
            android:name=".delivery.CommandsListActivity"
            android:label="Lista de Comandos"
            android:parentActivityName=".delivery.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.MainActivity" />
        </activity>

        <!-- New Command Activity -->
        <activity
            android:name=".delivery.NewCommandActivity"
            android:label="Adcionar novo comando"
            android:parentActivityName=".delivery.CommandsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.CommandsListActivity" />
        </activity>

        <!-- Commands Description Activity -->
        <activity
            android:name=".delivery.CommandDescriptionActivity"
            android:label="Descrição do comando"
            android:parentActivityName=".delivery.CommandsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.CommandDescriptionActivity" />
        </activity>
        <activity
            android:name=".delivery.NewAliasActivity"
            android:label="Adicionar novo apelido"
            android:parentActivityName=".delivery.CommandDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery.CommandDescriptionActivity"/>
        </activity>
    </application>

</manifest>